<div class="card-group">
  <div class="card m-2" *ngFor="let item of libros">
    <img
      class="card-img-top"
      src="http://lorempixel.com/g/400/200/"
      alt="Card image cap"
    />
    <div class="card-body">
      <h5 class="card-title">{{ item.nombre }}</h5>
      <p class="card-text">
        {{ item.autor }}
      </p>
      <p class="card-text">
        <button class="btn btn-primary btn-lg btn-block" (click)="anadir(item)">
          Reservar
        </button>
        <br />
        <small class="text-muted"
          >Cantidad Disponible {{ item.cantidadDisponible }}</small
        >
        <button class="btn" (click)="eliminarLibro(item.id)" *ngIf="estado">
          <i class="far fa-trash-alt m-1"></i>
        </button>

        <button
          class="btn"
          (click)="editarLibro(item.id, {})"
          [routerLink]="['/editar', item.id]"
          routerLinkActive="router-link-active"
          *ngIf="estado"
        >
          <i class="fas fa-edit"></i>
        </button>
      </p>
    </div>
  </div>
</div>

<hr />

<button class="btn btn-secondary" (click)="reservacion()">Reservas</button>
